---
import { getPosts } from '@utils/post'
import { getCollection } from 'astro:content'
import ListRelatedPosts from 'src/components/ListRelatedPosts.astro'
import PrevNext from 'src/components/PrevNext.astro'
import TableOfContents from 'src/components/TOC/TableOfContents.astro'
import Post from 'src/layouts/Post.astro'
const posts = await getCollection('blog')

export async function getStaticPaths() {
	const posts = await getPosts()

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post
	}))
}
const post = Astro.props

const getRelatedPosts = (post) => {
	const relatedPosts = posts.filter(
		(p) => p.slug !== post.slug && p.data.tags.some((t) => post.data.tags.includes(t))
	)
	return relatedPosts.slice(0, 3)
}

const relatedPosts = getRelatedPosts(post)
const { Content, headings } = await post.render()
---

<Post data={post.data} headings={headings}>

  <h1 class="text-xl">{post.data.title}</h1>

  <p>{post.data.description}</p>

  {headings && headings.length > 0 && <TableOfContents {headings} />}
  <!-- components={{ pre: Code }} -->

  <Content />

  <ListRelatedPosts posts={relatedPosts} />
  <PrevNext />
</Post>