---
import DecorationBG from "@components/DecorationBG.astro";
import PageWrapper from "@components/partials/PageWrapper.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const list = await getCollection("communities");
---

<BaseLayout>
  <PageWrapper gap="8">
    <DecorationBG />
    <h2 class="my-4 font-bold text-3xl">Относительно новые сообщества</h2>
    <div class="grid gap-5 sm:grid-cols-2 md:grid-cols-3">
      {
        list.map((item) => (
          <a href={`/communities/${item.slug}`}>
            <div class="bg-white py-2 px-3 rounded-xl ring-1 ring-gray-100 flex items-center gap-3 hover:translate-y-[-1.15px] transition-transform ease-in">
              <Image
                transition:name={`img-${item.data.logoImage}`}
                class="rounded-full object-cover w-16 h-16"
                width={1200}
                height={360}
                src={item.data.logoImage}
                alt={"Логотип: " + item.data.title}
                format={"avif"}
                quality={"mid"}
              />
              <h4
                transition:name={`h1-${item.data.title}`}
                class="text-lg md:text-xl font-bold "
              >
                {item.data.title}
              </h4>
            </div>
          </a>
        ))
      }
    </div>
  </PageWrapper>
</BaseLayout>
