---
import Head from "@components/Head.astro";
const response = await fetch(
  "https://opensheet.elk.sh/1JOALLjnvKx8abLu7O1eoB6lJrMDx4xzBUY72up2UoJE/12steps",
);
const data = await response.json();

const spheres_of_life = "font-bold m-2 rounded-md empty:px-0 empty:py-0 empty:m-0 empty:bg-transparent px-3 py-1 bg-blue-500 ";
const community = "m-2 rounded-md empty:px-0 empty:py-0 empty:m-0 empty:bg-transparent px-3 py-1 bg-red-500 ";
const community_and_abbreviation = "m-2 rounded-md empty:px-0 empty:py-0 empty:m-0 empty:bg-transparent px-3 py-1 bg-pink-500 ";
const object_independency = "m-2 rounded-md empty:px-0 empty:py-0 empty:m-0 empty:bg-transparent px-3 py-1 bg-indigo-500 ";
const decoding = "m-2 rounded-md empty:px-0 empty:py-0 empty:m-0 empty:bg-transparent px-3 py-1 bg-purple-500 ";
const off_site_link =
  "m-2 rounded-md empty:px-0 empty:py-0 empty:m-0 empty:bg-transparent px-3 py-1 bg-green-500 underline underline-offset-4";
---

<html lang="ru" class="scroll-smooth">
  <head>
    <Head title="Тест" />
  </head>
  <body class="antialiased bg-[#0f1017] text-white">
    <section class="p-5 max-w-full">
      {
        data.map((item) => (
          <div
            aria-label="Столбцы"
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-6"
          >
            <span class={spheres_of_life}>
              {item.spheres_of_life && item.spheres_of_life}
            </span>
            <span class={community}>{item.community && item.community}</span>
            <span class={community_and_abbreviation}>
              {item.community_and_abbreviation &&
                item.community_and_abbreviation}
            </span>
            <span class={object_independency}>
              {item.object_independency && item.object_independency}
            </span>
            <span class={decoding}>{item.decoding && item.decoding}</span>
            <a href={item.off_site_link} class={off_site_link}>
              {item.off_site_link && item.off_site_link}
            </a>
          </div>
        ))
      }
    </section>
  </body>
</html>
