---
const links = [
  { name: "Сообщества", link: "/communities" },
  { name: "Поиск постов", link: "/search" },
  { name: "Keystatic", link: "/keystatic", target: "_blank" },
  { name: "", link: "" },
];
---

<nav class="flex flex-wrap justify-center gap-6 items-center">
  {
    links.map((a) => (
      <a
        href={a.link}
        class="font-medium text-gray-800 hover:text-gray-950 hover:translate-y-[-1.15px] transition-transform ease-in"
        target={a.target}
      >
        {a.name}
      </a>
    ))
  }
  <!-- <User
    color={accent}
    name="KeyStatic"
    className="bounceUp"
    link="/keystatic"
    target="blank"
  />
  <Search
    color={accent}
    name="Найти пост"
    className="bounceUp"
    link="/search"
  />
  <TGlink link="https://t.me/fb_steps_bot" name="fb_steps_bot" /> -->
</nav>
