---
import Head from "@components/Head.astro";
import ToUp from "@components/ToUp.astro";
import Footer from "@components/partials/Footer.astro";
import Header from "@components/partials/Header.astro";
import "@styles/base.css";
import { ViewTransitions } from "astro:transitions";
const { title, description, image, articleDate, max_w } = Astro.props;
---

<html lang="ru" class="scroll-smooth bg-white">
  <head>
    <Head
      title={title}
      description={description}
      ogImage={image}
      articleDate={articleDate}
    />
    <!-- <ViewTransitions fallback="swap" /> -->
  </head>
  <body>
    <Header max_w={max_w} />
    <div class:list={`container px-5 mx-auto ${max_w ? max_w : "max-w-full"}`}>
      <slot />
    </div>
    <Footer max_w={max_w} />
    <ToUp />
  </body>
</html>
