---
import "@styles/base.css";
import Head from "@components/Head.astro";
import ToUp from "@components/ToUp.astro";
import Footer from "@components/partials/Footer.astro";
import Header from "@components/partials/Header.astro";
import { ViewTransitions } from "astro:transitions";
import Container from "./Container.astro";
import SectionBlur from "./SectionBlur.astro";
const {
  title,
  description,
  className,
  image,
  articleDate,
  w_container,
  color1,
  color2,
} = Astro.props;
---

<html lang="ru" class="scroll-smooth">
  <head>
    <Head
      title={title}
      description={description}
      ogImage={image}
      articleDate={articleDate}
    />
    <ViewTransitions />
  </head>
  <body class="antialiased bg-[#0f1017] text-white">
    <main class="flex flex-col gap-12">
      <Header />
      <Container w_container={w_container} className="content">
        <SectionBlur className={className} color1={color1} color2={color2}>
          <slot />
        </SectionBlur>
      </Container>
      <Footer />
    </main>
    <ToUp />
  </body>
</html>
